body {
    background-color: black !important;
    color: white !important;
}

#roomNameHeader {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logOut {
    font-size: 20px;
    float: right;
}

.header {
    font-size: 45px;
    letter-spacing: 5px;
    margin-top: 80px;
}

.header img {
    width: 160px;
    margin-left: -15px;
}

#output {
	padding: 10px;
	width: 70%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
    text-align: right;
    margin-bottom: 35px;
    color: black;
}

.inputDivMessagePage {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.inputDivMessagePage #messageTextInput {
	width: 50%;
    display: inline;
}